.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;

  button.menu-header-button {
    background-color: #00ba90;
    color: #ffffff;
    border-radius: 0;
  }

  .rate {
    display: flex;
    align-items: center;
    height: 100%;
  }
}
